<!DOCTYPE html>
<html ng-app>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script>
      function createMinefield() {
        let minefield = {};
        minefield.rows = [];
        for(let i = 0; i < 9; i++) {
          let row = {};
          row.spots = [];
          for(let j = 0; j < 9; j++) {
            let spot = {};
            spot.isCovered = true;
            spot.content = "empty";
            row.spots.push(spot);
          }
          minefield.rows.push(row);
        }
        placeManyRandomMines(minefield);
        calculateAllNumbers(minefield);
        return minefield;
      }

      function getSpot(minefield, row, column) {
        return minefield.rows[row].spots[column];
      }

      function MinesweeperController($scope) {
        $scope.minefield = createMinefield();
        $scope.uncoverSpot = function(spot) {
          spot.isCovered = false;
          if(spot.content == "mine") { // new
            $scope.hasLostMessageVisible = true; // new
          } else { // new
            if(hasWon($scope.minefield)) {
              $scope.isWinMessageVisible = true;
            }
          }
        }
      }

      function placeRandomMine(minefield) {
        let row = Math.round(Math.random() * 8);
        let column = Math.round(Math.random() * 8);
        let spot = getSpot(minefield, row, column);
        spot.content = "mine";
      }

      function placeManyRandomMines(minefield) {
        for(let i = 0; i <= 10; i++) {
          placeRandomMine(minefield);
        }
      }

      function calculateNumber(minefield, row, column) {
        let thisSpot = getSpot(minefield, row, column);

        // if this spot contains a mine then we can't place a number here
        if(thisSpot.content == "mine") {
          return;
        }
        let mineCount = 0;
        // check row above if this is not the first row
        if(row > 0) {
          // check column to the left if this is not the first column
          if(column > 0) {
            // get the spot above and to the left
            let spot = getSpot(minefield, row - 1, column - 1);
            if(spot.content == "mine") {
              mineCount++;
            }
          }
          // get the spot right above
          let spot = getSpot(minefield, row - 1, column);
          if(spot.content == "mine") {
            mineCount++;
          }
          // check column to the right if this is not the last column
          if(column < 8) {
            // get the spot above and to the right
            let spot = getSpot(minefield, row - 1, column + 1);
            if(spot.content == "mine") {
              mineCount++;
            }
          }
        }
        // check column to the left if this is not the first column
        if(column > 0) {
          // get the spot to the left
          let spot = getSpot(minefield, row, column - 1);
          if(spot.content == "mine") {
            mineCount++;
          }
        }
        // check column to the right if this is not the last column
        if(column < 8) {
          // get the spot to the right
          let spot = getSpot(minefield, row, column + 1);
          if(spot.content == "mine") {
            mineCount++;
          }
        }
        // check row below if this is not the last row
        if(row < 8) {
          // check column to the left if this is not the first column
          if(column > 0) {
            // get the spot below and to the left
            let spot = getSpot(minefield, row + 1, column - 1);
            if(spot.content == "mine") {
              mineCount++;
            }
          }
          // get the spot right below
          let spot = getSpot(minefield, row + 1, column);
          if(spot.content == "mine") {
            mineCount++;
          }
          // check column to the right if this is not the last column
          if(column < 8) {
            // get the spot below and to the right
            let spot = getSpot(minefield, row + 1, column + 1);
            if(spot.content == "mine") {
              mineCount++;
            }
          }
        }
        if(mineCount > 0) {
          thisSpot.content = mineCount;
        }
      }

      function calculateAllNumbers(minefield) {
        for(var y = 0; y < 9; y++) {
          for(var x = 0; x < 9; x++) {
            calculateNumber(minefield, x, y);
          }
        }
      }

      function hasWon(minefield) {
        for(var y = 0; y < 9; y++) {
          for(var x = 0; x < 9; x++) {
            var spot = getSpot(minefield, y, x);
            if(spot.isCovered && spot.content != "mine") {
                return false;
            }
          }
        }
        return true;
      }


    </script>
  </head>
  <body>
    <div ng-controller="MinesweeperController">
      <h3 ng-if="isWinMessageVisible">You won!</h3>
      <h3 ng-if="hasLostMessageVisible">You Lost!</h3>
      <table border="1" class="minefield">
        <tr ng-repeat="row in minefield.rows">
          <td ng-repeat="spot in row.spots" ng-click="uncoverSpot(spot)" >
            <img ng-if="spot.isCovered" src="/assets/images/covered.png">
            <img ng-if="!spot.isCovered && spot.content == 'empty'" src="/assets/images/empty.png">
            <img ng-if="!spot.isCovered && spot.content == 'mine'" src="/assets/images/mine.png">
            <img ng-if="!spot.isCovered && spot.content == 1" src="/assets/images/number-1.png">
            <img ng-if="!spot.isCovered && spot.content == 2" src="/assets/images/number-2.png">
            <img ng-if="!spot.isCovered && spot.content == 3" src="/assets/images/number-3.png">
            <img ng-if="!spot.isCovered && spot.content == 4" src="/assets/images/number-4.png">
            <img ng-if="!spot.isCovered && spot.content == 5" src="/assets/images/number-5.png">
            <img ng-if="!spot.isCovered && spot.content == 6" src="/assets/images/number-6.png">
            <img ng-if="!spot.isCovered && spot.content == 7" src="/assets/images/number-7.png">
            <img ng-if="!spot.isCovered && spot.content == 8" src="/assets/images/number-8.png">
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
